<!DOCTYPE html>
<html ng-app="boardRecord">
    <head>
        <title>Board Records</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/Chart.js/Chart.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <!--div ng-controller="GameController">
            <ul>
                <li ng-repeat="game in games">
                    <span>
                        <a href="#">
                            <img src="images/{{game.img.colored}}" alt="{{game.name}}" />
                        </a>
                    </span>
                </li>
            </ul>
        </div-->

        <div ng-controller="PlayerController">
            <input ng-model="playerName" type="text"  />
            <button ng-click="add(playerName)">Add new player</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th ng-repeat="player in players">{{player.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td ng-repeat="player in players">0</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <canvas id="stats" width="500" height="200"></canvas>
        <div id="legend"></div>
        <button onclick="test()">Add</button>
    </body>
</html>
